html {
  scrollbar-gutter: auto;
}

/* stylelint-disable-next-line selector-id-pattern */
#__nuxt {
  @apply flex flex-grow w-screen h-screen overflow-hidden;
}

html,
body {
  display: flex;

  @apply w-full h-full;
}

.page-enter-active,
.page-leave-active {
  transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0.5;
  filter: blur(0.5rem);
}
